@model teleScope.Models.UserCustomerModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Customer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>

    <style>
        /*input type number appear as text field in main browsers*/

        /*Chrome, Safari, Edge, Opera*/
        input::-webkit-outer-spin-button
        input::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /*Firefox*/
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

</head>
<body>

    <!-- Section: Design Block -->
    <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-4 fw-bold ls-tight text-black">
                            Seller Notification<br />
                            <span class="text-primary">Customer Data Processing</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            Please note that you are about to access and process <strong>customer data</strong>. Ensure that all information is accurate and up-to-date. <strong>When changing the program</strong>, the customer’s account will automatically be issued with the previous program, maintaining consistency across their records.
                            <br /><br />
                            <strong>Data confidentiality</strong> must be maintained at all times, and you must comply with all applicable regulations to ensure the protection of sensitive information. Any discrepancies or issues encountered during this process should be promptly reported to support for assistance.
                            <br /><br />
                            If you require any help, feel free to reach out to support.
                            <a asp-action="Index">Back to customers</a>
                            <br />
                        <p class="float-md-start">
                            <a asp-controller="Customers" asp-action="Index" class="btn btn-primary">Back to Customers</a>
                        </p>
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5 text-black">
                                <h4 class="card-title text-center"><strong>Edit Customer</strong></h4>
                                <br>
                                <form asp-action="Edit">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="customer.CustomerId" />
                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <label asp-for="user.FirstName" class="control-label fw-bold"></label>
                                                <input asp-for="user.FirstName" class="form-control" required />
                                                <span asp-validation-for="user.FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div data-mdb-input-init class="form-outline">
                                                <label asp-for="user.LastName" class="control-label fw-bold"></label>
                                                <input asp-for="user.LastName" class="form-control" required />
                                                <span asp-validation-for="user.LastName" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- Username input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label asp-for="user.Username" class="control-label fw-bold"></label>
                                        <input asp-for="user.Username" class="form-control" required />
                                        <span asp-validation-for="user.Username" class="text-danger"></span>
                                    </div>

                                    <!-- Password input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label asp-for="user.Password" class="control-label fw-bold"></label>
                                        <input asp-for="user.Password" class="form-control" readonly />
                                        <span asp-validation-for="user.Password" class="text-danger"></span>
                                    </div>

                                    <!-- Email input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label asp-for="user.Email" class="control-label fw-bold"></label>
                                        <input asp-for="user.Email" class="form-control" required />
                                        <span asp-validation-for="user.Email" class="text-danger"></span>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <!-- Phone Number input -->
                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <label asp-for="phoneNumber.Phone" class="control-label fw-bold"></label>
                                                <input asp-for="phoneNumber.Phone" class="form-control" readonly />
                                                <span asp-validation-for="phoneNumber.Phone" class="text-danger"></span>
                                            </div>
                                         </div>

                                        <div class="col-md-6 mb-4">
                                            <!-- Phone Type input -->
                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <label asp-for="phoneNumber.PhoneType" class="control-label fw-bold"></label>
                                                <input asp-for="phoneNumber.PhoneType" class="form-control" readonly />
                                                <!--<select asp-for="phoneNumber.PhoneType" class="form-control" disabled>
                                                    <option value="landline">Landline</option>
                                                    <option value="mobile">Mobile</option>
                                                </select>-->
                                                <span asp-validation-for="phoneNumber.PhoneType" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Program input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label asp-for="phoneNumber.ProgramId" class="control-label fw-bold">Program</label>
                                        <select asp-for="phoneNumber.ProgramId" class="form-control" asp-items="ViewBag.ProgramId" required></select>
                                    </div>


                                    <!-- Submit button -->
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                                        Save
                                    </button>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>

